# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Dependency directories
.bower_components/
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Coverage reports
coverage/
*.lcov

# Temporary files
tmp/
temp/
.cache/
